# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-rails'
      'submenu': [
        { 'label': 'Switch To Model', 'command': 'atom-rails:switch-to-model' }
        { 'label': 'Related', 'command': 'atom-rails:related' }
      ]
    ]
  }
]
